{% load static %}

<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="input-group">
                    <input
                        class="form-control"
                        placeholder="جستجو ..."
                        type="search"
                    />
                    <button
                        class="btn btn-primary"
                        id="button-addon1"
                        type="button"
                    >
                        <i class="ri-search-line"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>