{% load static %}


<div class="app-sidebar-wrapper" id="sidebar-scroll">

    <nav class="app-sidebar-menu-wrapper nav flex-column sub-open">
        <div class="sidebar-left" id="sidebar-left"></div>
            <ul class="app-sidebar-main-menu">

                <!-- MAIN -->
                <li class="sidebar-menu-category">
                    <span class="category-name">اصلی</span>
                </li>
                <li class="slide has-sub">
                    <a class="sidebar-menu-item" href="javascript:void(0);">
                        <i class="ri-arrow-down-s-fill side-menu-angle"></i>
                        <div class="side-menu-icon">
                            <i class="">
                                <svg
                                fill="currentColor"
                                viewbox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                                >
                                <path
                                    d="M14 21C13.4477 21 13 20.5523 13 20V12C13 11.4477 13.4477 11 14 11H20C20.5523 11 21 11.4477 21 12V20C21 20.5523 20.5523 21 20 21H14ZM4 13C3.44772 13 3 12.5523 3 12V4C3 3.44772 3.44772 3 4 3H10C10.5523 3 11 3.44772 11 4V12C11 12.5523 10.5523 13 10 13H4ZM9 11V5H5V11H9ZM4 21C3.44772 21 3 20.5523 3 20V16C3 15.4477 3.44772 15 4 15H10C10.5523 15 11 15.4477 11 16V20C11 20.5523 10.5523 21 10 21H4ZM5 19H9V17H5V19ZM15 19H19V13H15V19ZM13 4C13 3.44772 13.4477 3 14 3H20C20.5523 3 21 3.44772 21 4V8C21 8.55228 20.5523 9 20 9H14C13.4477 9 13 8.55228 13 8V4ZM15 5V7H19V5H15Z"
                                ></path>
                                </svg>
                            </i>
                        </div>
                        <span class="sidebar-menu-label">خدمات مشتریان</span>
                    </a>
                    <ul class="sidebar-menu child1">
                        <li class="slide">
                            <a class="sidebar-menu-item" href="{% url 'customers:customer-create-user' %}">
                                ثبت مشتری جدید
                            </a>
                        </li>
                        <li class="slide">
                            <a class="sidebar-menu-item" href="{% url 'customers:customers-list' %}">
                                لیست مشتریان
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="slide has-sub">
                    <a class="sidebar-menu-item" href="javascript:void(0);">
                        <i class="ri-arrow-down-s-fill side-menu-angle"></i>
                        <div class="side-menu-icon">
                            <i class="">
                                <svg
                                fill="currentColor"
                                viewbox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                                >
                                <path
                                    d="M14 21C13.4477 21 13 20.5523 13 20V12C13 11.4477 13.4477 11 14 11H20C20.5523 11 21 11.4477 21 12V20C21 20.5523 20.5523 21 20 21H14ZM4 13C3.44772 13 3 12.5523 3 12V4C3 3.44772 3.44772 3 4 3H10C10.5523 3 11 3.44772 11 4V12C11 12.5523 10.5523 13 10 13H4ZM9 11V5H5V11H9ZM4 21C3.44772 21 3 20.5523 3 20V16C3 15.4477 3.44772 15 4 15H10C10.5523 15 11 15.4477 11 16V20C11 20.5523 10.5523 21 10 21H4ZM5 19H9V17H5V19ZM15 19H19V13H15V19ZM13 4C13 3.44772 13.4477 3 14 3H20C20.5523 3 21 3.44772 21 4V8C21 8.55228 20.5523 9 20 9H14C13.4477 9 13 8.55228 13 8V4ZM15 5V7H19V5H15Z"
                                ></path>
                                </svg>
                            </i>
                        </div>
                        <span class="sidebar-menu-label">خدمات نصاب‌ها</span>
                    </a>
                    <ul class="sidebar-menu child1">
                        <li class="slide">
                            <a class="sidebar-menu-item" href="{% url 'technicians:technician-create-user' %}">
                                ثبت نصاب جدید
                            </a>
                        </li>
                        <li class="slide">
                            <a class="sidebar-menu-item" href="{% url 'technicians:technicians-list' %}">
                                لیست نصاب‌ها
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        <div class="sidebar-right" id="sidebar-right"></div>
    </nav>

</div>
