{% extends 'base.html' %}

{% load static %}
{% load jalali_tags %}

{% block title %}لیست نصاب‌ها{% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="page-header">
        <h2 class="page-title">لیست نصاب‌ها</h2>
        <a href="add_technician.html" class="btn-sub">+ نصاب جدید</a>
    </div>

    <!-- Installers Grid -->
    <section class="installers-grid">

        <!-- Installer Card -->
        {% for technician in technicians %}

            <div class="installer-card">
                <div class="installer-header">
                    <img src="{% static 'img/user_default_avatar.png' %}" alt="{{ technician.user.username }}" class="installer-avatar">

                    <div>
                        <h3 class="name">{{ technician.user.userprofile.fullname }}</h3>
                        <span class="id-code">کد: {{ technician.installer_code }}</span>
                    </div>
                </div>

                <div class="installer-info">
                    <div class="info-item">
                        <span class="label">کد ملی</span>
                        <span class="value">{{ technician.national_code }}</span>
                    </div>
                    <div class="info-item">
                        <span class="label">تجربه</span>
                        <span class="value">{{ technician.experience_years }} سال</span>
                    </div>
                    <div class="info-item">
                        <span class="label">سطح مهارت</span>
                        <span class="value badge-skill advanced">{{ technician.skill_level }}</span>
                    </div>
                </div>

                <a href="{{ technician.get_absolute_url }}" class="view-profile-btn">مشاهده پروفایل</a>
            </div>
        
        {% endfor %}

    </section>

    <!-- Pagination -->
    <div class="pagination">

        <a href="#" class="page-btn">
            قبلی
        </a>


        <div class="page-numbers">

            <a href="#" class="page-number active">
                1
            </a>

            <a href="#" class="page-number">
                2
            </a>

            <a href="#" class="page-number">
                3
            </a>

            <a href="#" class="page-number">
                4
            </a>

        </div>


        <a href="#" class="page-btn">
            بعدی
        </a>

    </div>

{% endblock content %}
