{% extends 'base.html' %}

{% load static %}
{% load jalali_tags %}
{% load farsi_digits %}

{% block title %}داشبورد کاربری{% endblock title %}

{% block content %}

    <section class="cards">
        <div class="card main-page-count-card" style="width: 8rem;">
            <div class="card-body">
                <h5 class="card-title text-center">
                    {{ customers_count | to_farsi_digit }} مشتری
                </h5>
            </div>
        </div>
        <div class="card main-page-count-card" style="width: 8rem;">
            <div class="card-body">
                <h5 class="card-title text-center">
                    {{ technicians_count | to_farsi_digit }} نصاب
                </h5>
            </div>
        </div>
        <div class="card main-page-count-card" style="width: 8rem;">
            <div class="card-body">
                <h5 class="card-title text-center">
                    {{ vendors_count | to_farsi_digit }} فروشنده
                </h5>
            </div>
        </div>
        <div class="card main-page-count-card" style="width: 8rem;">
            <div class="card-body">
                <h5 class="card-title text-center">
                    {{ devices_count | to_farsi_digit }} دستگاه
                </h5>
            </div>
        </div>
    </section>

    <div class="container px-4 py-5" id="custom-cards">
		<h2 class="pb-2 border-bottom">بیشترین دستگاه‌های نصب‌ شده</h2>
		<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 pt-2 pb-5">
			{% for device in most_installed_devices %}
				<div class="col">
                    <div
                        class="card card-cover h-100 overflow-hidden text-bg-dark border border-none rounded-4 shadow-lg"
                        style="background-image: linear-gradient(#38598B, #1672c2)"
                    >
                    <!-- 
                        For background image in a prettier way:
                        url(&quot;unsplash-photo-1.jpg&quot;) 
                    -->
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold align-self-start" style="position: relative; top: -50px;">
                                {{ device.name }}
                            </h3>
                            <ul class="d-flex list-unstyled mt-auto p-0 
                                        flex-md-row flex-md-nowrap 
                                        justify-content-center justify-content-md-start 
                                        mb-md-0
                                        pb-md-0">

                                <li class="me-auto md-md-2">
                                    <img
                                        src=""
                                        alt="{{ device.installed_count }} نصب"
                                        width="32"
                                        height="32"
                                        class="px-2 device-installation-count"
                                    />
                                </li>
                                <!-- <li class="d-flex align-items-center me-3 me-md-2">
                                    <svg
                                        class="bi me-2"
                                        width="1em"
                                        height="1em"
                                        role="img"
                                        aria-label="Location"
                                    >
                                        <use xlink:href="#geo-fill"></use>
                                    </svg>
                                    {% if device.is_active %}
                                        <small class="badge bg-success-subtle text-success-emphasis">فعال</small>
                                    {% else %}
                                        <small class="badge bg-danger-subtle text-danger-emphasis">غیرفعال</small>
                                    {% endif %}
                                </li> -->
                                <li class="d-flex align-items-center">
                                    <svg
                                        class="bi me-2"
                                        width="1em"
                                        height="1em"
                                        role="img"
                                        aria-label="Duration"
                                    >
                                        <use xlink:href="#calendar3"></use>
                                    </svg>
                                    <small>{{ device.model }}</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
			{% endfor %}
		</div>
	</div>

{% endblock content %}
