yazd_linux/assets/** linguist-vendored
yazd_linux/static/** linguist-vendored

*.css linguist-vendored
*.js  linguist-vendored
*.html  linguist-vendored

*.min.js linguist-vendored
*.map linguist-vendored
