{% extends 'base.html' %}

{% load static %}
{% load jformat %}

{% block extra_style %}
<style>
    .search-btn {
        background-color: #5344EA;
        color: #FFFFFF;
        border: none;
        border-radius: 4%;
        width: 9%;
        font-size: 1.3r em;
        padding: 0.5%;
        margin-top: 2%;
    }
</style>
{% endblock extra_style %}

{% block content %}

<div class="app-content-area">
    <div class="app-content-wrap">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header justify-between">
                            <h4 class="d-flex-items gap-10">لیست مشتریان</h4>
                            <div class="d-flex flex-wrap gap-15">
                                <a class="btn btn-primary" href="{% url 'customers:customer-create-user' %}">
                                    ثبت مشتری جدید
                                </a>
                            </div>
                        </div>

                        <form
                            action="{% url 'customers:customers-list' %}"
                            method="get"
                            class="form-control"
                            style="margin-top: 2%; margin-bottom: 2%;"
                        >
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                            <div class="row g-2 align-items-end">
                                <div class="col-md-4">
                                    {{ filters.form.device.label }}
                                    {{ filters.form.device }}
                                </div>
                                <div class="col-md-4">
                                    {{ filters.form.technician.label }}
                                    {{ filters.form.technician }}
                                </div>
                                <div class="col-md-4">
                                    {{ filters.form.vendor.label }}
                                    {{ filters.form.vendor }}
                                </div>
                            </div>
                            <input type="submit" value="جستجو" class="search-btn">
                        </form>

                        <div class="card-body pt-15">
                            <div class="table-responsive">
                            <table class="table text-nowrap w-100" id="dataTableDefault">
                                <thead>
                                    <tr>
                                        <th>نام خانودگی</th>
                                        <th>مدل دستگاه</th>
                                        <th>فروشنده</th>
                                        <th>نصاب</th>
                                        <th>تاریخ نصب</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for customer in customers %}
                                        <tr>
                                            <td>
                                                <a
													href="{{ customer.get_absolute_url }}"
                                                    class="text text-primary"
                                                    style="font-size: 2rem;"
                                                >
                                                    {{ customer.user.userprofile.last_name }}</td>
                                                </a>
                                            <td style="font-size: 1.6rem;">{{ customer.device }}</td>
                                            <td style="font-size: 1.6rem;">{{ customer.vendor.shop_name }}</td>
                                            <td style="font-size: 1.6rem;">{{ customer.technician.user.userprofile.last_name }}</td>
                                            <td style="font-size: 1.6rem;">{{ customer.installation_date | jformat:"%d %B %Y" }}</td>
                                            <!-- <td>
                                                {% if customer.is_active %}
                                                    <span class="badge bg-label-success">
                                                        فعال
                                                    </span>
                                                {% else %}
                                                    <span class="badge bg-label-danger">
                                                        غیرفعال
                                                    </span>
                                                {% endif %}
                                            </td> -->
                                        </tr>
                                    {% empty %}
                                        <h3 class="text text-center">No Customer Yet!</h3>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}
