/* =========================================================
    Typography
========================================================= */

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-base);
    color: var(--color-text);
    background-color: var(--color-body);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-text);
    font-weight: var(--font-weight-bold);
    line-height: 1.5;
}

p {
    color: var(--color-text-soft);
}

::selection {
    color: #ffffff;
    background-color: var(--color-primary);
}
