{% load static %}

<meta charset="utf-8" />
<meta content="ie=edge" http-equiv="x-ua-compatible" />
<meta content="" name="description" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="1" name="theme-style-mode" />

<!-- Place favicon.ico in the root directory -->
<link
    href="{% static 'images/logo/favicon.svg' %}"
    rel="shortcut icon"
    type="image/x-icon"
/>

<!-- Bootstrap links -->
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

<!-- Style links -->
<link rel="stylesheet" href="{% static 'css-v2/style.css' %}">
<link rel="stylesheet" href="{% static 'css/styles/style.css' %}">

<!-- Django Jalali -->
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
