{% load static %}

<script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-3.7.0.js' %}"></script>
<script src="{% static 'js/plugins/popper.min.js' %}"></script>
<script src="{% static 'js/plugins/simplebar.min.js' %}"></script>
<script src="{% static 'js/plugins/simplebar-active.js' %}"></script>
<script src="{% static 'js/vendor/height-equal.js' %}"></script>
<script src="{% static 'js/vendor/isotope.pkgd.js' %}"></script>
<script src="{% static 'js/vendor/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/vendor/backtotop.js' %}"></script>
<script src="{% static 'js/plugins/smooth-scrollbar.js' %}"></script>
<script src="{% static 'js/plugins/apexcharts.min.js' %}"></script>
<script src="{% static 'js/plugins/jsvectormap.min.js' %}"></script>
<script src="{% static 'js/plugins/world-merc.js' %}"></script>
<script src="{% static 'js/plugins/swiper.min.js' %}"></script>
<script src="{% static 'js/vendor/ecommerce-dashboard.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/vendor/sidebar.js' %}"></script>

<!-- Django Jalalli -->
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>