<nav class="top-navbar">
    <div class="nav-right">
        <button id="menu-toggle" class="menu-btn" type="button">☰</button>
        <div class="brand"><a href="{% url 'home:main-home' %}">CentralSu</a></div>
    </div>

    <div class="nav-left">
        <button id="theme-toggle" type="button">🌙</button>

        <div class="profile-wrapper">
            <div id="profile-btn" class="profile-btn" role="button" tabindex="0">C</div>

            <div id="profile-dropdown" class="profile-dropdown">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'accounts:user-dashboard' %}">پروفایل</a>
                    <a href="{% url 'accounts:user-logout' %}">خروج</a>
                {% else %}
                    <a href="{% url 'accounts:user-login' %}">ورود</a>
                    <a href="{% url 'accounts:user-register' %}">ثبت‌نام</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
