{% load static %}

<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="bd-preloader-content">
                <div class="bd-preloader-logo">
                    <div class="bd-preloader-circle">
                    <svg
                        fill="none"
                        height="190"
                        viewbox="0 0 380 380"
                        width="190"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <circle
                        cx="190"
                        cy="190"
                        r="180"
                        stroke="#F5F5F5"
                        stroke-linecap="round"
                        stroke-width="6"
                        ></circle>
                        <circle
                        cx="190"
                        cy="190"
                        r="180"
                        stroke="red"
                        stroke-linecap="round"
                        stroke-width="6"
                        ></circle>
                    </svg>
                    </div>
                    <img
                    alt="image not found"
                    src="{% static 'images/logo/preloader-icon.svg' %}"
                    />
                </div>
                <p class="bd-preloader-subtitle">داشیکس</p>
            </div>
        </div>
    </div>
</div>
