
<aside class="sidebar">
    <div class="sidebar-menu">

        {% if request.user.role == 'Admin' or request.user.role == 'Technician' or request.user.role == 'Vendor' or request.user.is_superuser %}
            <div class="menu-item has-submenu">
                <div class="menu-link">
                    <span class="icon">🛠</span>
                    <span class="text">خدمات</span>
                    <span class="arrow">▾</span>
                </div>

                <div class="submenu">
                    <a href="{% url 'installations:installations-list' %}" class="submenu-item">لیست نصب‌ها</a>
                    {% if request.user.role != 'Vendor' %}
                        <a href="#" class="submenu-item">لیست تعویض فیلترها</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if request.user.role == 'Admin' or request.user.is_superuser %}
            <div class="menu-item has-submenu">
                <div class="menu-link">
                    <span class="icon">🧑‍🔧</span>
                    <span class="text">نصاب‌ها</span>
                    <span class="arrow">▾</span>
                </div>
                
                <div class="submenu">
                    <a href="{% url 'technicians:technician-create-user' %}" class="submenu-item">نصاب جدید</a>
                    <a href="{% url 'technicians:technicians-list' %}" class="submenu-item">لیست نصاب‌ها</a>
                </div>
            </div>
        {% endif %}

        {% if request.user.role == 'Admin' or request.user.is_superuser %}
            <div class="menu-item has-submenu">
                <div class="menu-link">
                    <span class="icon">🏪</span>
                    <span class="text">فروشندگان</span>
                    <span class="arrow">▾</span>
                </div>

                <div class="submenu">
                    <a href="{% url 'external_partners:vendor-create-user' %}" class="submenu-item">فروشنده جدید</a>
                    <a href="{% url 'external_partners:vendors-list' %}" class="submenu-item">لیست فروشندگان</a>
                </div>
            </div>
        {% endif %}

        <div class="menu-item has-submenu">
            <div class="menu-link">
                <span class="icon">📦</span>
                <span class="text">دستگاه‌ها</span>
                <span class="arrow">▾</span>
            </div>

            <div class="submenu">
                <a href="{% url 'devices:device-create' %}" class="submenu-item">دستگاه جدید</a>
                <a href="{% url 'devices:devices-list' %}" class="submenu-item">لیست دستگاه‌ها</a>
            </div>
        </div>

    </div>
</aside>
