{% load static %}


<div class="app-sidebar-wrapper" id="sidebar-scroll">

    <nav class="app-sidebar-menu-wrapper nav flex-column sub-open">
        <div class="sidebar-left" id="sidebar-left"></div>
            <ul class="app-sidebar-main-menu">

                <!-- MAIN -->
                <li class="sidebar-menu-category">
                    <span class="category-name">اصلی</span>
                </li>

                <li class="slide has-sub">
                    <a class="sidebar-menu-item" href="javascript:void(0);">
                        <i class="ri-arrow-down-s-fill side-menu-angle"></i>
                        <span class="sidebar-menu-label">خدمات مشتریان</span>
                    </a>
                    <ul class="sidebar-menu child1">
                        <li class="slide">
                            <a class="sidebar-menu-item" href="{% url 'customers:customer-create-user' %}">
                                ثبت مشتری جدید
                            </a>
                        </li>
                        <li class="slide">
                            <a class="sidebar-menu-item" href="{% url 'customers:customers-list' %}">
                                لیست مشتریان
                            </a>
                        </li>
                    </ul>
                </li>

                {% if request.user.is_superuser or request.user.role == 'Admin' %}
                    <li class="slide has-sub">
                        <a class="sidebar-menu-item" href="javascript:void(0);">
                            <i class="ri-arrow-down-s-fill side-menu-angle"></i>
                            <span class="sidebar-menu-label">خدمات نصاب‌ها</span>
                        </a>
                        <ul class="sidebar-menu child1">
                            <li class="slide">
                                <a class="sidebar-menu-item" href="{% url 'technicians:technician-create-user' %}">
                                    ثبت نصاب جدید
                                </a>
                            </li>
                            <li class="slide">
                                <a class="sidebar-menu-item" href="{% url 'technicians:technicians-list' %}">
                                    لیست نصاب‌ها
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

                {% if request.user.is_superuser or request.user.role == 'Admin' %}
                    <li class="slide has-sub">
                        <a class="sidebar-menu-item" href="javascript:void(0);">
                            <i class="ri-arrow-down-s-fill side-menu-angle"></i>
                            <span class="sidebar-menu-label">دستگاه ها</span>
                        </a>
                        <ul class="sidebar-menu child1">
                            <li class="slide">
                                <a class="sidebar-menu-item" href="{% url 'devices:device-create' %}">
                                    ثبت دستگاه
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

                {% if request.user.is_superuser or request.user.role == 'Admin' %}
                    <li class="slide has-sub">
                        <a class="sidebar-menu-item" href="javascript:void(0);">
                            <i class="ri-arrow-down-s-fill side-menu-angle"></i>
                            <span class="sidebar-menu-label">فروشنده ها</span>
                        </a>
                        <ul class="sidebar-menu child1">
                            <li class="slide">
                                <a class="sidebar-menu-item" href="{% url 'vendors:vendor-create-user' %}">
                                    ثبت فروشنده
                                </a>
                            </li>
                            <li class="slide">
                                <a class="sidebar-menu-item" href="{% url 'vendors:vendors-list' %}">
                                    لیست فروشنده ها
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

            </ul>
        <div class="sidebar-right" id="sidebar-right"></div>
    </nav>

</div>
