
<aside class="sidebar">
    <div class="sidebar-menu">
        <div class="menu-item has-submenu">
            <div class="menu-link">
                <span class="icon">🛠</span>
                <span class="text">خدمات</span>
                <span class="arrow">▾</span>
            </div>

            <div class="submenu">
                <a href="{% url 'customers:customers-list' %}" class="submenu-item">لیست نصب‌ها</a>
                <a href="#" class="submenu-item">لیست تعویض فیلترها</a>
            </div>
        </div>

        <div class="menu-item has-submenu">
            <div class="menu-link">
                <span class="icon">🧑‍🔧</span>
                <span class="text">نصاب‌ها</span>
                <span class="arrow">▾</span>
            </div>

            <div class="submenu">
                <a href="{% url 'technicians:technicians-list' %}" class="submenu-item">نصاب جدید</a>
                <a href="#" class="submenu-item">لیست نصاب‌ها</a>
            </div>
        </div>

        <div class="menu-item has-submenu">
            <div class="menu-link">
                <span class="icon">🏪</span>
                <span class="text">فروشندگان</span>
                <span class="arrow">▾</span>
            </div>

            <div class="submenu">
                <a href="{% url 'vendors:vendor-create' %}" class="submenu-item">فروشنده جدید</a>
                <a href="{% url 'vendors:vendors-list' %}" class="submenu-item">لیست فروشندگان</a>
            </div>
        </div>

        <div class="menu-item has-submenu">
            <div class="menu-link">
                <span class="icon">📦</span>
                <span class="text">دستگاه‌ها</span>
                <span class="arrow">▾</span>
            </div>

            <div class="submenu">
                <a href="{% url 'devices:device-create' %}" class="submenu-item">دستگاه جدید</a>
                <a href="{% url 'devices:devices-list' %}" class="submenu-item">لیست دستگاه‌ها</a>
            </div>
        </div>
    </div>
</aside>
