{% extends 'base.html' %}

{% block title %}اضافه‌ کردن دستگاه{% endblock title %}


{% block content %}

    <div class="row flex-container">
        <div class="user-login">
            <h2>اضافه کردن دستگاه</h2>
            <p style="opacity: .8;">لطفا از فرم زیر برای اضافه کردن یک دستگاه جدید استفاده کنید:</p>

            <form action="" class="form-control mb-3" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="row">

                    {% for field in form %}

                        {% if field.field.widget.input_type == "checkbox" %}
                            <div class="col-md-3 form-check mb-3">
                                {{ field }}
                                <label class="form-check-label" for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                </label>
                            </div>
                        {% else %}
                            <div class="col-md-6 mb-3">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endif %}

                    {% endfor %}

                </div>

                <input type="submit" value="اضافه کردن دستگاه" class="btn login-btn">
            </form>

        </div>
    </div>

{% endblock content %}
