{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="app-content-area">
    <div class="app-content-wrap">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header justify-between">
                            <h4 class="d-flex-items gap-10">لیست نصاب‌ها</h4>
                            <div class="d-flex flex-wrap gap-15">
                                <a class="btn btn-primary" href="{% url 'technicians:create-technician-user' %}">
                                    ثبت نصاب جدید
                                </a>
                            </div>
                        </div>
                        <div class="card-body pt-15">
                            <div class="table-responsive">
                            <table class="table text-nowrap w-100" id="dataTableDefault">
                                <thead>
                                    <tr>
                                        <th>شماره موبایل</th>
                                        <th>کد ملی</th>
                                        <th>کد نصاب</th>
                                        <th>سابقه کار</th>
                                        <th style="width: 200px">سطح مهارت</th>
                                        <!-- <th>وضعیت</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for technician in technicians %}
                                        <tr>
                                            <td>{{ technician.user.phone_number }}</td>
                                            <td>{{ technician.national_code }}</td>
                                            <td>{{ technician.installer_code }}</td>
                                            {% if technician.experience_years %}
                                                <td> سال {{ technician.experience_years }}</td>
                                            {% else %}
                                                <td>مشخص نشده</td>
                                            {% endif %}

                                            {% if technician.skill_level %}
                                                <td>{{ technician.skill_level }}</td>
                                            {% else %}
                                                <td>مشخص نشده</td>
                                            {% endif %}
                                            <!-- <td>{{ technician.is_active }}</td> -->
                                            <!-- <td>
                                                {% if customer.is_active %}
                                                    <span class="badge bg-label-success">
                                                        فعال
                                                    </span>
                                                {% else %}
                                                    <span class="badge bg-label-danger">
                                                        غیرفعال
                                                    </span>
                                                {% endif %}
                                            </td> -->
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}
