{% extends 'base.html' %}

{% load static %}

{% block title %}داشبورد کاربری{% endblock title %}


{% block content %}

	<div class="user-profile-page">

		<div class="user-profile-card">

			<div class="user-profile-header">

				<div class="user-avatar">
					<img src="{% static 'img/user_default_avatar.png' %}" alt="User Avatar">
				</div>

				<div class="user-info">
					<h2 class="user-name">{{ user.userprofile.fullname }}</h2>

					<div class="user-meta">
						<div class="meta-item">
							<span class="meta-label">نام کاربری</span>
							<span class="meta-value">@{{ user.username }}</span>
						</div>

						<div class="meta-item">
							<span class="meta-label">نام کامل</span>
							<span class="meta-value">{{ user.userprofile.fullname }}</span>
						</div>

						<div class="meta-item">
							<span class="meta-value role-badge">مدیر سیستم</span>
						</div>
					</div>
				</div>

			</div>

			<div class="user-profile-actions">
				<a href="{% url 'accounts:user-profile-update' %}" class="btn-main">ویرایش پروفایل</a>
				<a href="{% url 'accounts:user-logout' %}" class="btn-sub logout-btn">خروج</a>
			</div>

		</div>

	</div>

{% endblock content %}
