{% extends 'base.html' %}

{% block title %}Update Profile{% endblock title %}

{% block extra_style %}
    <style>
        div.user-login {width: 50%;}
    </style>
{% endblock extra_style %}

{% block content %}

    <div class="row flex-container">
        <div class="user-login">
            <h2>ویرایش حساب</h2>
            <p style="opacity: .8;">لطفا با استفاده از فرم زیر اطلاعات کاربری خود را ویرایش کنید:</p>

            <form class="form-control mb-3" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}

                {% for field in user_form %}
					{% if field.errors %}
						{% for error in field.errors %}
							<p class="alert alert-danger">{{ error }}</p>
						{% endfor %}
					{% endif %}

                    {{ field }}
                {% endfor %}

                <hr>

                {% for field in profile_form %}
					{% if field.errors %}
						{% for error in field.errors %}
							<p class="alert alert-danger">{{ error }}</p>
						{% endfor %}
					{% endif %}

                    {{ field }}
                {% endfor %}

                <input type="submit" value="ذخیره تغییرات" class="btn save-changes-btn">
            </form>
        </div>
    </div>

{% endblock content %}
