{% extends 'base.html' %}

{% block title %}داشبورد کاربری{% endblock title %}


{% block content %}

	<div class="user-dashboard">
		<div class="user-card">
			<div class="user-dashboard-card">
				<img src="{{ user.userprofile.picture.url }}" alt="" class="user-profile-picture">
				<div class="user-basic-info">
					<h2 class="user-username">{{ user.username | upper }}</h2>
					<p>
						به داشبورد اختصاصی خودت خوش‌اومدی،  
						<span style="font-weight: bold;">{{ user.username }}</span>.
					</p>
				</div>
			</div>

			<div class="d-grid mt-3">
				<a href="{% url 'accounts:user-logout' %}" class="btn btn-danger col-4 logout-btn">
                    خروج از حساب
                </a>
			</div>
		</div>

		<div class="user-profile-info">
			<div class="user-personal-info">
				<ul class="user-info-list">
					<li>
						<h4>نام کاربری</h4>
						<a href="" class="user-value">{{ user.username }}</a>
					</li>

					{% if user.userprofile.first_name or user.userprofile.last_name %}
						<li>
							<h4>نام</h4>
							{% if user.userprofile.first_name and user.userprofile.last_name %}
								<span class="user-value">
									{{ user.userprofile.first_name }} {{ user.userprofile.last_name }}
								</span>
							{% elif user.userprofile.first_name and not user.userprofile.last_name %}
								<span class="user-value">
									{{ user.userprofile.first_name }}
								</span>
							{% elif user.userprofile.last_name and not user.userprofile.first_name %}
								<span class="user-value">
									{{ user.userprofile.last_name }}
								</span>
							{% endif %}
						</li>
					{% endif %}

					{% if user.role %}
						<li>
							<h4>نقش</h4> 
							<span class="user-value">{{ user.role }}</span>
						</li>
					{% endif %}

					<!-- {% if user.userprofile.address %}
						<li>
							<h4>آدرس</h4> 
							<span class="user-value">{{ user.userprofile.address }}</span>
						</li>
					{% endif %} -->
				</ul>
			</div>
			<hr>

			<div class="user-options">

				<div class="d-grid">
					<a href="#" class="btn btn-orange">
						تغییر رمزعبور
					</a>
				</div>
				<div class="d-grid">
					<a href="{% url 'accounts:user-profile-update' %}" class="btn btn-orange">
						ویرایش پروفایل
					</a>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}
