{% extends 'base.html' %}

{% block title %}۴۰۳{% endblock title %}

{% block content %}

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">۴۰۳. یا مجوز لازم نداری یا داخل ایرانی!</h1>
            <p class="col-md-8 fs-4">
                <span style="font-weight: bold;">
                    مجوز لازم برای دسترسی به این بخش را نداری
                </span>
                <hr>
            </p>
            <p class="d-none">
                <small>
                    «زِ نام و ننگِ جهان، تا تویی،
                    نه نامی، نه ننگ، ای گُمان، بی تویی.
                    سِپَردی بَرِ هوش، هر آن کس که بود،
                    زِ دانایی و دانش، آن کس که بود.
                    اگر داد بودی، سخن را گُزین،
                    گُزین داشتی، هوشِ مردِ نگین.»
                </small>
            </p>
            <a href="{% url 'dashboard:dashboard' %}" class="btn btn-primary btn-lg col-3" type="button">
                ولش کن پس میرم خونه
            </a>
        </div>
    </div>

{% endblock content %}
