{% extends 'base.html' %}

{% block title %}۴۰۴{% endblock title %}

{% block content %}

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">۴۰۴. دنبال چی هستی عزیز؟!</h1>
            <p class="col-md-8 fs-4">
                <span style="font-weight: bold;">صفحه‌ای که شما دنبالش هستی اصلا نیست مشتی!</span>
                <hr>
            </p>
            <p class="d-none">
                <small>
                    «زِ نام و ننگِ جهان، تا تویی،
                    نه نامی، نه ننگ، ای گُمان، بی تویی.
                    سِپَردی بَرِ هوش، هر آن کس که بود،
                    زِ دانایی و دانش، آن کس که بود.
                    اگر داد بودی، سخن را گُزین،
                    گُزین داشتی، هوشِ مردِ نگین.»
                </small>
            </p>
            <a href="{% url 'home:main-home' %}" class="btn btn-primary btn-lg col-3" type="button">
                برو خونه
            </a>
        </div>
    </div>

{% endblock content %}