<!DOCTYPE html>
<html lang="fa">
<head>
    {% include 'includes/head.html' %}

    <title>{% block title %}{% endblock title %}</title>
</head>

<body>

    <div class="panel-container">
        {% include 'includes/sidebar.html' %}

        <main class="main-content">
            {% include 'includes/navbar.html' %}

            {% block pre_main_content %}
            {% endblock pre_main_content %}
            <div class="page-inner">
                {% include 'includes/messages.html' %}
                
                {% block content %}
                {% endblock content %}
            </div>
        </main>
    </div>

    {% include 'includes/js_links.html' %}
</body>
</html>
