{% load static %}

<!doctype html>
<html class="no-js" lang="fa">
<head>
	<title>{% block title %}{% endblock title %}</title>
    {% include 'includes/head.html' %}
</head>

{% block extra_style %}
{% endblock extra_style %}

<body class="body-area" data-bs-theme="light" dir="rtl">

    {% include 'includes/header_navbar.html' %}

    <div class="display">
        {% include "includes/messages.html" %}
        <div class="col-lg-3 justify-content-lg-end">
            <button class="btn col-3" id="theme-toggle-btn">
                <!-- <i class="fa-solid fa-moon"></i> -->
                چشمات!
            </button>
        </div>

        <div class="flex-container">
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>

            <!-- <div class="side">
                <div class="sidebar">
            </div> -->
        </div>
    </div>

    {% include 'includes/footer.html' %}

    {% include 'includes/js_links.html' %}

</body>
</html>
