{% load static %}

<!doctype html>
<html class="no-js" lang="fa">
<head>
	<title>{% block title %}{% endblock title %}</title>
    {% include 'includes/head.html' %}
</head>

{% block extra_style %}
{% endblock extra_style %}

<body class="body-area" data-bs-theme="light" dir="rtl">

    {% include 'includes/header_navbar.html' %}

    <div class="display">
        {% include "includes/messages.html" %}

        <div class="flex-container">
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>

            {% if request.user.is_authenticated %}
                <div class="side">
                    <div class="sidebar">
                        <main class="d-flex flex-nowrap sidebar-links justify-content-between">
                            <div class="flex-shrink-0 p-3" style="width: 280px">
                                <a
                                    href="/"
                                    class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom"
                                >
                                    <svg
                                    class="bi pe-none me-2"
                                    width="30"
                                    height="24"
                                    aria-hidden="true"
                                    >
                                    <use xlink:href="#bootstrap"></use>
                                    </svg>
                                    <span class="fs-5 fw-semibold sidebar-title">دسته‌بندی لینک‌ها</span>
                                </a>

                                <ul class="list-unstyled ps-0">
                                    {% if request.user.role == 'Admin' or request.user.is_superuser or request.user.role == 'Technician' or request.user.role == 'Vendor' %}
                                        <li class="mb-1">
                                            <button
                                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#customers-collapse"
                                                aria-expanded="false"
                                            >
                                                مشتریان
                                            </button>
                                            <div class="collapse" id="customers-collapse">
                                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                    {% if request.user.role == 'Admin' or request.user.is_superuser or request.user.role == 'Technician'  %}
                                                        <li>
                                                            <a
                                                            href="{% url 'customers:customer-create-user' %}"
                                                            class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                                            >مشتری جدید</a
                                                            >
                                                        </li>
                                                    {% endif %}
                                                    <li>
                                                        <a
                                                        href="{% url 'customers:customers-list' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                                        >لیست مشتریان</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    {% endif %}

                                    {% if request.user.role == 'Admin' or request.user.is_superuser %}
                                        <li class="mb-1">
                                            <button
                                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#technicians-collapse"
                                                aria-expanded="false"
                                            >
                                                نصاب‌ها
                                            </button>
                                            <div class="collapse" id="technicians-collapse">
                                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                    <li>
                                                        <a
                                                        href="{% url 'technicians:technician-create-user' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                                        >نصاب جدید</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                        href="{% url 'technicians:technicians-list' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                                        >لیست نصاب‌ها</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    {% endif %}

                                    {% if request.user.role == 'Admin' or request.user.is_superuser %}
                                        <li class="mb-1">
                                            <button
                                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#vendors-collapse"
                                                aria-expanded="false"
                                            >
                                                فروشندگان
                                            </button>
                                            <div class="collapse" id="vendors-collapse">
                                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                    <li>
                                                        <a
                                                        href="{% url 'vendors:vendor-create-user' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                                        >فروشنده جدید</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                        href="{% url 'vendors:vendors-list' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                                        >لیست فروشنده‌ها</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    {% endif %}

                                    {% if request.user.role == 'Admin' or request.user.is_superuser %}
                                        <li class="mb-1">
                                            <button
                                                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#devices-collapse"
                                                aria-expanded="false"
                                            >
                                                دستگاه‌ها
                                            </button>
                                            <div class="collapse" id="devices-collapse">
                                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                    <li>
                                                        <a
                                                        href="{% url 'devices:device-create' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                                        >دستگاه جدید</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                        href="{% url 'devices:devices-list' %}"
                                                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                                        >لیست دستگاه‌ها</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="border-top my-3"></li>
                                    {% endif %}

                                    <li class="mb-1">
                                        <button
                                            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#handylinks-collapse"
                                            aria-expanded="false"
                                        >
                                            لینک‌های اصلی
                                        </button>
                                        <div class="collapse show" id="handylinks-collapse">
                                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                <li>
                                                    <a
                                                    href="{% url 'dashboard:dashboard' %}"
                                                    class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                                                    >صفحه اصلی</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </main>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% include 'includes/footer.html' %}

    {% include 'includes/js_links.html' %}

</body>
</html>
