{% extends 'base.html' %}
{% load static %}

{% block content %}

	<div class="app-content-area">
		<div class="app-content-wrap">
			<div class="container-fluid">
				<div class="row overflow-hidden">

					<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
						<div class="card">
							<div
							class="card-body mini-card-body d-flex align-center gap-16"
							>
							<div
								class="avatar avatar-xl bg-primary-transparent text-primary"
							>
								<i class="ri-shopping-bag-3-line fs-42"></i>
							</div>
							<div class="card-content">
								<span class="d-block fs-16 mb-5">کل سفارشات</span>
								<h2 class="mb-5 fa">98.5 هزار</h2>
								<span class="text-success"
								>+۱.۲۴٪<i
									class="ri-arrow-up-line ml-5 d-inline-block"
								></i
								></span>
								<span class="fs-12 text-muted ml-5">این هفته</span>
							</div>
							</div>
						</div>
					</div>
					<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
						<div class="card">
							<div
							class="card-body mini-card-body d-flex align-center gap-16"
							>
							<div class="avatar avatar-xl bg-info-transparent text-info">
								<i class="ri-user-line fs-42"></i>
							</div>
							<div class="card-content">
								<span class="d-block fs-16 mb-5">کاربران جدید</span>
								<h2 class="mb-5 fa">12.3 هزار</h2>
								<span class="text-success"
								>+۰.۸۷٪<i
									class="ri-arrow-up-line ml-5 d-inline-block"
								></i
								></span>
								<span class="fs-12 text-muted ml-5">این هفته</span>
							</div>
							</div>
						</div>
					</div>
					<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
						<div class="card">
							<div class="card-body mini-card-body d-flex align-center gap-16">
								<div class="avatar avatar-xl bg-danger-transparent text-danger">
									<i class="ri-box-3-line fs-42"></i>
								</div>
								<div class="card-content">
									<span class="d-block fs-16 mb-5">محصولات موجود</span>
									<h2 class="mb-5 fa">5،230</h2>
									<span class="text-danger">
										-۰.۳۴٪
										<i class="ri-arrow-down-line ml-5 d-inline-block"></i>
									</span>
									<span class="fs-12 text-muted ml-5">این هفته</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
						<div class="card">
							<div class="card-body mini-card-body d-flex align-center gap-16">
								<div class="avatar avatar-xl bg-success-transparent text-success">
									<i class="ri-wallet-3-line fs-42"></i>
								</div>
								<div class="card-content">
									<span class="d-block fs-16 mb-5">سود خالص</span>
									<h2 class="mb-5 fa">86000 هزار تومان</h2>
									<span class="text-success">
										+۲.۰۵٪
										<i class="ri-arrow-up-line ml-5 d-inline-block"></i>
									</span>
									<span class="fs-12 text-muted ml-5">این هفته</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xxl-5 col-xl-12">
						<div class="card height-equal">
							<div class="card-header justify-between">
								<h4 class="">معاملات اخیر</h4>
								<div class="card-dropdown">
									<div class="dropdown">
										<a
											aria-expanded="false"
											class="card-dropdown-icon"
											data-bs-toggle="dropdown"
											href="javascript:void(0);"
											role="button"
										>
											<i class="ri-more-2-fill"></i>
										</a>
										<div class="dropdown-menu">
												<a class="dropdown-item" href="javascript:void(0);">
													این هفته
												</a>
												<a class="dropdown-item" href="javascript:void(0);">
													هفته گذشته
												</a>
												<a class="dropdown-item" href="javascript:void(0);">
													این ماه
												</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body pt-15">
								<ul class="transactions-list">
									<li class="d-flex-between flex-xxs-wrap gap-15 mb-15">
										<div class="d-flex align-center">
											<div class="badge square fs-18 bg-label-primary py-10 mr-10">
												<i class="ri-bank-card-line"></i>
											</div>
											<div>
												<h6 class="fs-14">سفارش #DN-78945</h6>
												<span class="text-muted lh-1">
													ویزا • • • • 4215 • 12/25
												</span>
											</div>
										</div>
										<div class="text-right">
											<h6 class="text-success mb-5 fa">249.99 تومان</h6>
											<span class="text-body-secondary">کامل</span>
										</div>
									</li>
									<li class="d-flex-between flex-xxs-wrap gap-15 mb-15">
										<div class="d-flex align-center">
											<div class="badge square fs-18 bg-label-primary py-10 mr-10">
												<i class="ri-bank-line"></i>
											</div>
											<div>
												<h6 class="fs-14">سفارش #DN-78943</h6>
												<span class="text-muted lh-1">
													انتقال بانکی • تعقیب
												</span>
											</div>
										</div>
										<div class="text-right">
											<h6 class="text-danger mb-5 fa">89.99 تومان</h6>
											<span class="text-body-secondary">ناموفق</span>
										</div>
									</li>
								</ul>
								<div class="d-flex-between stats-card mt-30">
									<div class="text-center">
										<h3 class="text-success mb-5 fa">8،245.60 تومان</h3>
										<p class="text-muted fs-12">کل درآمد</p>
									</div>
									<div class="text-center">
										<h3 class="text-primary mb-5 fa">42</h3>
										<p class="text-muted fs-12">معاملات</p>
									</div>
									<div class="text-center">
										<h3 class="text-warning mb-5 fa">3</h3>
										<p class="text-muted fs-12">درنده</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xxl-5 col-xl-12">
						<div class="card height-equal">
							<div class="card-header justify-between">
								<h4 class="">دسته های برتر فروش</h4>
								<div class="card-dropdown">
									<div class="dropdown">
										<a
											aria-expanded="false"
											class="card-dropdown-icon"
											data-bs-toggle="dropdown"
											href="javascript:void(0);"
											role="button">
											<i class="ri-more-2-fill"></i>
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="javascript:void(0);">امروز</a>
											<a class="dropdown-item" href="javascript:void(0);">این هفته</a>
											<a class="dropdown-item active" href="javascript:void(0);">این ماه</a>
											<a class="dropdown-item" href="javascript:void(0);">امسال</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body pt-15">
								<div class="table-responsive">
									<table class="table text-nowrap">
										<thead class="table-light">
											<tr>
												<th class="">دسته</th>
												<th class="">درآمد</th>
												<th class="">سفارش</th>
												<th class="">avg ترتیب</th>
												<th class="">رشد</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<h6 class="mb-5">الکترونیک</h6>
													<span class="text-muted">تلفن ، لپ تاپ ، تلویزیون</span>
												</td>
													<td class="text-end fw-6">24،850 تومان</td>
													<td class="text-end">182</td>
													<td class="text-end">136.54 تومان</td>
													<td class="text-end">
													<span class="text-success">
														<i class="ri-arrow-up-line mr-5"></i>
														12.5٪
													</span>
												</td>
											</tr>
											<tr>
												<td>
													<h6 class="mb-5">خانه و آشپزخانه</h6>
													<span class="text-muted">مبلمان ، لوازم</span>
												</td>
												<td class="text-end fw-6">12،750 تومان</td>
												<td class="text-end">98</td>
												<td class="text-end">130.10 تومان</td>
												<td class="text-end">
													<span class="text-danger">
														<i class="ri-arrow-down-line"></i>
														3.2 ٪
													</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xl-12">
						<div class="card">
							<div class="card-header justify-between">
								<h4 class="">سفارشات اخیر</h4>
								<div class="card-dropdown">
									<div class="dropdown">
										<a
											aria-expanded="false"
											class="card-dropdown-icon"
											data-bs-toggle="dropdown"
											href="javascript:void(0);"
											role="button">
											<i class="ri-more-2-fill"></i>
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="javascript:void(0);">این هفته</a>
											<a class="dropdown-item" href="javascript:void(0);">هفته گذشته</a>
											<a class="dropdown-item" href="javascript:void(0);">این ماه</a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body pt-15">
								<div class="table-responsive">
									<table class="table text-nowrap w-100">
										<thead class="table-light">
											<tr>
												<th>شناسه سفارش</th>
												<th>مشتری</th>
												<th>محصول</th>
												<th>مقدار</th>
												<th>مقدار</th>
												<th>وضعیت</th>
												<th>امتیازدهی</th>
												<th>عمل</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<a href="ecommerce-order-details.html">#DN-2024-001</a>
												</td>
												<td>
													<div class="d-flex-items gap-10">
														<div class="avatar avatar-md radius-100">
															<img 
																alt="image not found"
																class="radius-100"
																src="{% static 'images/avatar/avatar-thumb-001.webp' %}"/>
														</div>
														<div>
															<h6>سارا جانسون</h6>
															<span class="fs-12 text-muted">
																<a>user@example.com</a>
															</span>
														</div>
													</div>
												</td>
												<td>
													<div class="d-flex-items gap-10">
														<div class="avatar avatar-md radius-6">
															<img
																alt="image not found"
																class="radius-6"
																src="{% static 'images/product/item3.png' %}"/>
														</div>
														<span class="fw-6 text-muted">گوشواره های بی سیم طرفدار</span>
													</div>
												</td>
												<td>1</td>
												<td>129.99 تومان</td>
												<td>
													<span class="badge bg-label-success">تحویل دار</span>
												</td>
												<td>
													<div class="rating">
														<i class="ri-star-fill text-warning"></i>
														<i class="ri-star-fill text-warning"></i>
														<i class="ri-star-fill text-warning"></i>
														<i class="ri-star-fill text-warning"></i>
														<i class="ri-star-half-fill text-warning"></i>
														<span class="ms-1">4.5</span>
													</div>
												</td>
												<td>
													<div class="d-flex-items gap-10">
														<a
															class="btn-icon btn-success-light"
															data-bs-placement="top"
															data-bs-title="مشاهده"
															data-bs-toggle="tooltip"
															href="ecommerce-order-details.html">
															<i class="ri-eye-line"></i>
														</a>
														<a
															class="btn-icon btn-info-light"
															data-bs-placement="top"
															data-bs-title="ویرایش"
															data-bs-toggle="tooltip"
															href="ecommerce-order-details.html">
															<i class="ri-edit-line"></i>
														</a>
														<a
															class="btn-icon btn-danger-light"
															data-bs-placement="top"
															data-bs-title="حذف"
															data-bs-toggle="tooltip"
															href="javascript:void(0);">
															<i class="ri-delete-bin-line"></i>
														</a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock content %}
