{% extends 'base.html' %}

{% load static %}
{% load jalali_tags %}

{% block extra_style %}
<style>
    form.search-filter-form {border: 1px solid #DE7119;}
    tbody.td {font-size: 1.6rem;}
</style>
{% endblock extra_style %}

{% block content %}

<div class="app-content-area">
    <div class="app-content-wrap">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="card" style="padding: 10px;">
                        <div class="justify-between">
                            <h4 class="d-flex-items gap-10">لیست نصاب‌ها</h4>
                            <div class="d-flex flex-wrap gap-15">
                                <a
                                    class="btn btn-orange"
                                    href="{% url 'technicians:technician-create-user' %}"
                                >
                                    ثبت نطاب جدید
                                </a>
                            </div>
                        </div>

                        <form
                            action="{% url 'customers:customers-list' %}"
                            method="get"
                            class="form-control mt-3 mb-5 search-filter-form"
                        >
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                            <div class="row g-2 align-items-end">
                                <div class="col-md-4">
                                    <!-- {{ filters.form.device.label }} -->
                                    دستگاه
                                    {{ filters.form.skill_level }}
                                </div>
                            </div>
                            <input type="submit" value="جستجو" class="btn btn-orange mt-2 col-1">
                        </form>

                        <div class="card-body pt-10">
                            <div class="table-responsive">
                                <table class="table text-nowrap w-100" id="dataTableDefault">
                                    <thead class="table-warning">
                                        <tr>
                                            <th>نام خانودگی</th>
                                            <th>شماره تماس</th>
                                            <th>شماره ملی</th>
                                            <th>تاریخ عضویت</th>
                                            <th>تعداد نصب</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for technician in technicians %}
                                            <tr>
                                                <td>
                                                    <a
                                                        href="{{ technician.get_absolute_url }}"
                                                        style="color: #DE7119;"
                                                    >
                                                        {{ technician.user.userprofile.fullname }}</td>
                                                    </a>
                                                <td>
                                                    <span dir="ltr">{{ technician.user.phone_number.as_national }}</span>
                                                </td>
                                                <td>{{ technician.national_code }}</td>
                                                <td>{{ technician.created_at | to_jalali:"%d %B %Y" }}</td>
                                                <td>{{ technician.customers.count }}</td>
                                                <!-- <td>
                                                    {% if customer.is_active %}
                                                        <span class="badge bg-label-success">
                                                            فعال
                                                        </span>
                                                    {% else %}
                                                        <span class="badge bg-label-danger">
                                                            غیرفعال
                                                        </span>
                                                    {% endif %}
                                                </td> -->
                                            </tr>
                                        {% empty %}
                                            <h3 class="text text-center">تا به‌حال مشتریی ثبت نشده!</h3>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}
