{% extends 'base.html' %}

{% load static %}
{% load jalali_tags %}


{% block content %}

<div class="app-content-area">
    <div class="app-content-wrap">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header justify-between">
                            <h4 class="d-flex-items gap-10">لیست نصاب‌ها</h4>
                            <div class="d-flex flex-wrap gap-15">
                                <a class="btn btn-primary" href="{% url 'technicians:technician-create-user' %}">
                                    ثبت نصاب جدید
                                </a>
                            </div>
                        </div>

                        <form
                            action="{% url 'technicians:technicians-list' %}"
                            method="get"
                            class="form-control"
                            style="margin-top: 2%; margin-bottom: 2%;"
                        >
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                            <div class="row g-2 align-items-end">
                                <div class="col-md-4">
                                    {{ filters.form.skill_level.label }}
                                    {{ filters.form.skill_level }}
                                </div>
                            </div>
                            <input type="submit" value="جستجو" class="btn btn-primary">
                        </form>
                        
                        <div class="card-body pt-15">
                            <div class="table-responsive">
                            <table class="table text-nowrap w-100" id="dataTableDefault">
                                <thead>
                                    <tr>
                                        <th>نام</th>
                                        <th>شماره موبایل</th>
                                        <th>شماره ملی</th>
                                        <th>تاریخ عضویت</th>
                                        <th>تعداد نصب</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for technician in technicians %}
                                        <tr>
                                            <td>
                                                <a
                                                    href="{{ technician.get_absolute_url }}"
                                                    class="text text-primary"
                                                    style="font-size: 2rem;"
                                                >
                                                    {{ technician.user.userprofile.fullname }}
                                                </a>
                                            </td>
                                            <td style="font-size: 1.6rem;">{{ technician.user.phone_number }}</td>
                                            <td style="font-size: 1.6rem;">{{ technician.national_code }}</td>
                                            <td style="font-size: 1.6rem;">
                                                {{ technician.created_at | to_jalali:"%d %B %Y" }}
                                            </td>
                                            <td style="font-size: 1.6rem;">
                                                {{ technician.customers.count }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}
