{% extends 'base.html' %}

{% block title %}
    {% block role_head_title %}{% endblock role_head_title %}
{% endblock title %}


{% block content %}

    <main class="form-container">
        <div class="form-card">
            <h2 class="form-title">اطلاعات شخصی {% block form_title %} {% endblock form_title %}</h2>
            
            <!-- Global Progress Bar Component -->
            <div class="form-steps">
                <div class="form-step is-completed">۱</div>
                <div class="form-step is-active">۲</div>
                <div class="form-step">۳</div>
            </div>

            <!-- Form Stage -->
            <form method="post">
                {% csrf_token %}

                <div class="form-grid-2">
                    <div class="form-group">
                        <label>{{ form.first_name.label }}</label>
                        <input type="text" placeholder="نام کوچک" name="first_name">
                    </div>
                    <div class="form-group">
                        <label>{{ form.last_name.label }}</label>
                        <input type="text" placeholder="نام خانوادگی" name="last_name">
                    </div>
                </div>

                <div class="form-group">
                    <label>{{ form.address.label }}</label>
                    <textarea rows="3" placeholder="آدرس محل سکونت..." name="address"></textarea>
                </div>

                <!-- Navigation buttons -->
                <div class="form-actions" style="display: flex; gap: 1rem;">
                    <a href="{% block back_link %}{% endblock back_link %}" class="btn-sub">بازگشت</a>
                    <button type="submit" class="btn-main">بعدی</button>
                </div>
            </form>
        </div>
    </main>

{% endblock content %}
