{% extends 'base.html' %}

{% block title %}
    {% block role_head_title %}{% endblock role_head_title %}
{% endblock title %}


{% block content %}

    <main class="form-container">
        <div class="form-card">
            <h2 class="form-title">{%block form_title%}{% endblock form_title %}</h2>

            <!-- Multi step indicator -->
            <div class="form-steps">
                <div class="form-step is-active">۱</div>
                <div class="form-step">۲</div>
                <div class="form-step">۳</div>
            </div>

            <!-- Step 1 Form -->
            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label>{{ form.phone_number.label }}</label>
                    <input type="text" placeholder="{{ form.phone_number_placeholder }}" name="phone_number">
                </div>

                <div class="form-group">
                    <label class="mt-4">{{ form.password.label }}</label>
                    <input type="password" placeholder="{{ form.password_placeholder }}" name="password">
                </div>

                <!-- Form actions -->
                <div class="form-actions">
                    <button type="submit" class="btn-main">بعدی</button>
                </div>

            </form>
        </div>
    </main>

{% endblock content %}
