{% extends 'base.html' %}

{% load static %}
{% load jalali_tags %}
{% load farsi_digits %}
{% load query_transform %}

{% block title %}لیست نصب‌ها{% endblock title %}

{% block content %}

    <!-- Page Header & Action Button -->
    <div class="installation-page-header">

        <h2 class="page-title">لیست نصب‌ها</h2>

        <a href="{% url 'installations:installation-create-user' %}" class="add-new-install-btn">
            <span class="icon">+</span>
            نصب جدید
        </a>

    </div>

    <!-- Installation Filters -->
    <section class="installation-filters">

        <button class="filter-toggle">
            فیلترها
            <span class="arrow">▾</span>
        </button>

        <form class="filter-form" method="get" action="{% url 'installations:installations-list' %}">

            <input type="text" placeholder="نام مشتری" name="last_name" value="{{ request.GET.last_name }}">

            <select name="device">
                <option>دستگاه</option>
                
                {% for device in filters.form.device.field.queryset %}
                    <option 
                        value="{{ device.id }}"
                        {% if request.GET.device == device.id|stringformat:"s" %}
                            selected
                        {% endif %}
                    >
                        {{ device }}
                    </option>
                {% endfor %}
            </select>

            {% if filters.form.technician %}
                <select name="technician">
                    <option>نصاب</option>

                    {% for technician in filters.form.technician.field.queryset %}
                        <option
                            value="{{ technician.id }}"
                            {%  if request.GET.technician == technician.id|stringformat:"s" %}
                                selected
                            {% endif %}
                        >
                            {{ technician }}
                        </option>
                    {% endfor %}
                </select>
            {% endif %}

            {% if filters.form.vendor %}
                <select name="vendor">
                    <option>فروشنده</option>

                    {% for vendor in filters.form.vendor.field.queryset %}
                        <option
                            value="{{ vendor.id }}"
                            {% if request.GET.vendor == vendor.id|stringformat:"s" %}
                                selected
                            {% endif %}
                        >
                            {{ vendor }}
                        </option>
                    {% endfor %}
                </select>
            {% endif %}

            <div class="date-range">

                <input type="date" name="start_date" value="{{ request.GET.start_date }}">
                <span>تا</span>
                <input type="date" name="end_date" value="{{ request.GET.end_date }}">

            </div>

            <button type="submit" class="filter-btn">
                جستجو
            </button>

        </form>

    </section>

    <!-- Installation Grid -->
    <span class="status-badge active">{{ object_list.count | to_farsi_digit }} نصب</span>
    <hr>

    <section class="installation-grid">

        <!-- Installation Card -->
        {% for installation in object_list %}
            <a href="{{ installation.get_absolute_url }}" class="installation-card">

                <div class="installation-top">

                    <div class="installation-name">
                        {{ installation.user.userprofile.fullname }}
                    </div>

                    <span class="installation-code">
                        {{ insallation.installation_code }}
                    </span>

                </div>


                <div class="installation-customer-phone" dir="ltr" style="text-align: right;">
                    {{ installation.user.phone_number.as_national | to_farsi_digit }}
                </div>


                <div class="installation-meta">

                    <div>

                        <span class="meta-label">
                            دستگاه
                        </span>

                        <span class="meta-value">
                            {{ installation.device }}
                        </span>

                    </div>

                    <div>

                        <span class="meta-label">
                            نصاب
                        </span>

                        <span class="meta-value">
                            {{ installation.technician.user.userprofile.fullname }}
                        </span>

                    </div>

                    <div>

                        <span class="meta-label">
                            فروشنده
                        </span>

                        <span class="meta-value">
                            {{ installation.vendor.user.userprofile.fullname }}
                        </span>

                    </div>

                    <div>

                        <span class="meta-label">
                            نصب
                        </span>

                        <span class="meta-value">
                            {{ installation.installation_date | to_jalali:"%d %B %Y" | to_farsi_digit }}
                        </span>

                    </div>

                </div>


                <!-- Filter replacement indicators -->

                <div class="replacement-status">

                    <span class="rep done">1</span>
                    <span class="rep done">2</span>
                    <span class="rep pending">3</span>
                    <span class="rep">4</span>

                </div>

            </a>
        {% endfor %}

    </section>

    <!-- Pagination -->
    {% if is_paginated %}
        <div class="pagination">

            <!-- Previous -->
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode }}"
                class="page-btn">
                    قبلی
                </a>
            {% else %}
                <span class="page-btn disabled">
                    قبلی
                </span>
            {% endif %}


            <!-- Pages -->
            <div class="page-numbers">

                {% for num in paginator.page_range %}

                    {% if page_obj.number == num %}
                        <span class="page-number active">
                            {{ num }}
                        </span>

                    {% else %}
                        <a href="?page={{ num }}&{{ request.GET.urlencode }}"
                        class="page-number">
                            {{ num }}
                        </a>
                    {% endif %}

                {% endfor %}

            </div>


            <!-- Next -->
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&{{ request.GET.urlencode }}"
                class="page-btn">
                    بعدی
                </a>
            {% else %}
                <span class="page-btn disabled">
                    بعدی
                </span>
            {% endif %}

        </div>
    {% endif %}


{% endblock content %}
