div.user-dashboard {
    /* background-color: #20c997; */
    /* background-color: #75b798; */

    /* box-shadow: 0 4px 15px #343a40; */
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    border-radius: 2px;
}

/* USER DASHBOARD CARD */
div.user-card {flex-basis: 600px; align-self: flex-start;}
div.user-dashboard-card {
    background-color: #116979;
    border-radius: 4px;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 0 10px 0;
    justify-content: space-around;
    /* to fit the card content such as 'user-basic-info' content with the center of the whole card */
    align-items: center;
    /* box-shadow: 0 4px 15px #343a40; */
}
div.user-dashboard-card .user-profile-picture {
    width: 30%;
    border-radius: 50%;
    opacity: .8;
    transition: opacity .8s, transform .8s;
}
div.user-dashboard-card .user-profile-picture:hover {opacity: 1; transform: translateY(-5%);}
div.user-dashboard-card .user-basic-info {
    border: 1px solid #18B0B0;
    color: #DEE3E2;
    padding: 5px;
    border-radius: 4px;
}


/* USER PROFILE INFO */
div.user-profile-info {
    background-color: #116979;
    border-radius: 4px;
    /* box-shadow: 0 4px 15px #343a40; */
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
}

ul.user-info-list {
    list-style-type: none;
    text-align: right;
    padding-left: 5px;
}
ul.user-info-list li {
    border-right: 1px solid #FFFFFF;
    margin-bottom: 6%;
    padding-right: 15px;
}
li h4 {color: #18B0B0;}
ul.user-info-list .user-value {color: #FFFFFF; font-size: 1.3rem;}

div.user-options div.d-grid {margin-bottom: 5%;}

.btn-orange {
    background-color: #DE7119;
    color: #FFFFFF;
    font-family: Hasti;
    transition: color .4s, box-shadow .4s;
}
.btn-orange:hover {background-color: #DE7119; box-shadow: 0 2px 15px #DEE3E2;}


/* Response configs */

@media screen and (max-width: 576px) {
    .logout-btn {display: none;}
    div.user-dashboard-card {
        flex-direction: column;
        margin: 0 2% 0 2%;
        padding: 10px;
    }
    div.user-profile-info {
        margin: 0 2% 0 2%;
        padding: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    div.user-dashboard-card {flex-direction: column;}
}
