h1, h2, h3 {font-size: 1.2rem; font-weight: bold;}

header.header {
	display: flex;
	flex-direction: row;
	/* background-color: #212529; */
	background-color: #535E7B;
	font-weight: bold;
	padding-top: 5px;
	justify-content: space-around;
	align-items: baseline;
	height: 50px;
}
header.header nav.header-nav {
	display: flex;
	list-style-type: none;
}
header.header nav.header-nav a {
	text-decoration: none;
	font-size: 1.1rem;
	padding-right: 30px;
	color: #FFFFFF;
	transition: color .4s;
	font-family: IranYekanBlack;
}
header.header nav.header-nav a:hover {color: #ffc107}
h2.header-title {
	/* color: #0d6efd;
	border: 1px solid #0d6efd; */

	color: #FFFFFF;
	padding: 5px;
	border-radius: 4px;
	font-size: 1.4rem;
	font-weight: bold;
	box-shadow: 0 4px 15px #FFFFFF;
}
