div.header-navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
div.nav-static-links {
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 200px;
    justify-content: flex-start;
    align-self: baseline;
    align-items: baseline;
    margin: 1%;
}
a.nav-title {margin-right: 10%;}

div.img-links {display: flex; justify-content: space-between;}

div.img-links .nav-logo-link {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}
div.img-links .nav-account-link {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

div.img-links .nav-logo-link img {width: 100%; border-radius: .4rem;}
div.img-links .nav-account-link img {width: 100%; border-radius: .4rem;}



main.sidebar-links {
    height: 50vh;
    height: -webkit-fill-available;
    max-height: 50vh;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 0;
}

main.sidebar-links .dropdown-toggle { outline: 0; }

main.sidebar-links .btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
    font-family: IranYekanBlack;
    color: #FFFFFF!important;
}
main.sidebar-links .btn-toggle:hover,
main.sidebar-links .btn-toggle:focus {
    /* background-color: var(--bs-tertiary-bg); */

    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: #b5d2ec;
}

main.sidebar-links .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

[data-bs-theme="dark"] main.sidebar-links .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

main.sidebar-links .btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
}
main.sidebar-links .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

main.sidebar-links .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-shadow: 0 1px 15px #b5d2ec;
    font-family: IranYekanBold;
    transition: background-color .4s;
}
/* [data-bs-theme="light"] main.sidebar-links .btn-toggle-nav a {color: #38598B!important;}
[data-bs-theme="dark"] main.sidebar-links .btn-toggle-nav a {color: #1672c2!important;} */

[data-bs-theme="light"] main.sidebar-links .btn-toggle-nav a {color: #18B0B0!important;}
[data-bs-theme="dark"] main.sidebar-links .btn-toggle-nav a {color: #18B0B0!important;}

main.sidebar-links .btn-toggle-nav a:hover,
main.sidebar-links .btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
}

main.sidebar-links .scrollarea {
    overflow-y: auto;
}
main.sidebar-links .sidebar-title {font-family: Hasti;}


/* Response configs */
@media screen and (max-width: 576px) {

    /* Navbar */
    nav.navbar {width: 100%;}
    main.sidebar-links {
        height: 40vh;
        max-height: 40vh;
        flex-direction: column;
        margin-top: 5%;
        border-top: 2px solid #b5d2ec;
    }
    div.header-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    div.nav-static-links {
        flex-basis: 160px;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    /* IMG links of navbar */
    div.img-links .nav-account-link {flex-basis: 50px;}
    div.img-links .nav-logo-link {flex-basis: 60px;}
    div.img-links .nav-logo-link img {border-radius: .4rem; flex-grow: 1;}
    div.img-links .nav-account-link img {border-radius: .4rem; flex-grow: 1;}
}

@media screen and (min-width: 740px) and (max-width: 1150px) {
    main.sidebar-links {
        flex-direction: column;
        width: 300px;
    }
    div.header-navbar {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    /* Navbar */
    nav.navbar {width: 100%;}
    main.sidebar-links {
        height: 40vh;
        max-height: 40vh;
        flex-direction: column;
        margin-top: 5%;
        border-top: 2px solid #b5d2ec;
    }
    div.header-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    div.nav-static-links {
        flex-basis: 160px;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    /* IMG links of navbar */
    div.img-links .nav-account-link {flex-basis: 50px;}
    div.img-links .nav-logo-link {flex-basis: 60px;}
    div.img-links .nav-logo-link img {border-radius: .4rem; flex-grow: 1;}
    div.img-links .nav-account-link img {border-radius: .4rem; flex-grow: 1;}
}
