/* ========== TOPBAR ========== */

.topbar{
    height:64px;
    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 16px;

    background:linear-gradient(to right,#38598B,#1672c2);
}


/* logo */

.logo img{
    height:42px;
    display:block;
}


/* avatar */

.account img{
    width:38px;
    height:38px;
    border-radius:50%;
    object-fit:cover;
}



/* ========== HAMBURGER ========== */

.sidebar-toggle{

    width:34px;
    height:28px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    border:none;
    background:none;
    cursor:pointer;
}

.sidebar-toggle span{
    height:3px;
    background:white;
    border-radius:2px;
}



/* ========== OVERLAY ========== */

.overlay{

    position:fixed;
    inset:0;

    background:rgba(0,0,0,.25);

    opacity:0;
    pointer-events:none;

    transition:.2s;

    z-index:1000;
}

.overlay.show{
    opacity:1;
    pointer-events:auto;
}



/* ========== SIDEBAR ========== */

.sidebar{

    position:fixed;

    top:0;
    right:-320px;

    width:320px;
    height:100vh;

    padding:24px;

    transition:.25s ease;

    z-index:1100;

    overflow-y:auto;

    /* glass effect */

    background:rgba(30,40,60,.45);

    backdrop-filter:blur(16px);
    -webkit-backdrop-filter:blur(16px);

    border-left:1px solid rgba(255,255,255,.1);
}

.sidebar.open{
    right:0;
}



/* ========== MENU ========== */

.sidebar-title{
    margin-bottom:20px;
}

.sidebar a{
    text-decoration:none;
}



/* text colors */

[data-bs-theme="light"] .sidebar{
    color:#0f172a;
}

[data-bs-theme="dark"] .sidebar{
    color:#e5e7eb;
}



/* menu */

.menu{
    list-style:none;
    padding:0;
    margin:0;
}

.menu-toggle{

    width:100%;

    background:none;
    border:none;

    text-align:right;

    padding:10px 0;

    font-weight:600;
    cursor:pointer;
}



/* submenu */

.submenu{

    list-style:none;

    padding-right:14px;
    margin:6px 0;

    display:none;
}

.menu-group.open .submenu{
    display:block;
}

.submenu a{
    display:block;
    padding:6px 0;
    opacity:.9;
}

.sidebar a{
    text-decoration:none;
    display:block;
    padding:6px 0;
    font-weight:500;
    font-family: "IranYekanBlack";
}

[data-bs-theme="light"] .sidebar a{
    color:#e5e7eb;
}

[data-bs-theme="light"] .submenu a{
    color: #e5e7eb;
}

.menu-toggle{
    width:100%;
    border:none;
    background:none;

    text-align:right;

    padding:10px 0;

    font-weight:600;
    font-size:15px;

    font-family: "IranYekanHeavy";
}
[data-bs-theme="light"] .menu-toggle{
    color:#38598B;
}
[data-bs-theme="dark"] .menu-toggle{
    color:#f8fafc;
}

.submenu a:hover{
    background:rgba(255,255,255,.08);
    padding-right:6px;
}
[data-bs-theme="light"] .submenu a:hover{
    background:rgba(0,0,0,.06);
}
