main.sidebar-links {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

main.sidebar-links .dropdown-toggle { outline: 0; }

main.sidebar-links .btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
    font-family: IranYekanBlack;
}
main.sidebar-links .btn-toggle:hover,
main.sidebar-links .btn-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
}

main.sidebar-links .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

[data-bs-theme="dark"] main.sidebar-links .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

main.sidebar-links .btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
}
main.sidebar-links .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

main.sidebar-links .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    font-family: IranYekanBold;
    transition: background-color .4s;
}
[data-bs-theme="light"] main.sidebar-links .btn-toggle-nav a {color: #38598B!important;}
[data-bs-theme="dark"] main.sidebar-links .btn-toggle-nav a {color: #1672c2!important;}
main.sidebar-links .btn-toggle-nav a:hover,
main.sidebar-links .btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
}

main.sidebar-links .scrollarea {
    overflow-y: auto;
}
main.sidebar-links .sidebar-title {font-family: Hasti;}


/* Response configs */
@media screen and (max-width: 576px) {
    main.sidebar-links {
        height: 60vh;
        max-height: 60vh;
        flex-direction: column;
        /* margin-bottom: 10%; */
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    main.sidebar-links {
        flex-direction: column;
        width: 230px;
    }
}
