@import url("navbar.css");
@import url("authentication.css");
@import url("dashboard.css");
@import url("sidebar.css");


/* Hasti Family */
@font-face {
	font-family: Hasti;
	src: url(../../fonts/farsi/hasti/Hasti-HeavyR.woff), format(woff);
}
@font-face {
    font-family: HastiRRD;
    src: url(../../fonts/farsi/hasti/Hasti-HeavyRRD.woff), format(woff);
}
/* Iran Yekan Family */
@font-face {
	font-family: IranYekan;
	src: url(../../fonts/farsi/iranyekan/IRANYekanX-Regular.woff), format(woff);
}
@font-face {
	font-family: IranYekanBold;
	src: url(../../fonts/farsi/iranyekan/IRANYekanX-Bold.woff), format(woff2);
}
@font-face {
	font-family: IranYekanBlack;
	src: url(../../fonts/farsi/iranyekan/IRANYekanX-Black.woff), format(woff2);
}


* {margin: 0; padding: 0;}
body {font-family: IranYekan;}

/* Header Style */
.nav-title {font-family: HastiR; color: #FFFFFF!important;}
a.nav-link.active {
    color: #F6F1F1!important;
    border-left: 1px solid #F6F1F1;
    font-family: Hasti!important;
    font-size: 1.2rem;
    border-radius: 50%;
}
#theme-toggle-btn {
    background-color: #4A628A;
    color: #FFFFFF;
    font-family: Hasti;
    opacity: .8;
    transition: opacity .4s;
}
#theme-toggle-btn:hover {opacity: 1;}
#navbarsExample11 {font-family: IranYekanBlack;}

/* Body Style */
.display {
    padding: 20px;
    margin-bottom: 20px;
}
div.flex-container {
    display: flex;
    padding: 20px 20px 20px 0;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.flex-container .content {width: 100%;}
/* div.flex-container .sidebar {
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 20px;
    border-radius: 4px;
    flex-basis: 250px;
    background-color: #535E7B;
    color: #FFFFFF; 
    box-shadow: 0 4px 15px #535E7B;
} */

/* CARDS */
section.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.main-page-count-card {
    background-color: #DE7119;
    box-shadow: 0 2px 15px #DE7119;
    border: none;
    width: 10rem;
    height: 40px;
}
div.main-page-count-card {
    display: flex;
    justify-content: center;
    flex-basis: 200px;
}
div.main-page-count-card .card-title {
    font-family: Hasti;
    color: #F6F1F1;
    text-align: center;
    margin: auto;
}


/* Basic Tags Styles */
a {text-decoration: none;}
a.active {color: #1E88E5!important; font-family: IranYekanBold;}
.btn,
.device-installation-count {font-family: Hasti;}


/* Response configs */

@media screen and (max-width: 576px) {
    /* Body Style */
    div.flex-container {flex-direction: column-reverse;}
    div.flex-container .content {flex-basis: 0; width: 100%;}

    /* CARDS */
    div.main-page-count-card {margin-bottom: 15px; flex-basis: 150px;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    /* Body Style */
    div.flex-container {flex-direction: row-reverse;}
    div.flex-container .content {width: 100%;}
    /* div.flex-container .sidebar {align-self: center;} */
}
