{% extends 'base.html' %}

{% block title %}اضافه‌ کردن دستگاه{% endblock title %}


{% block content %}

    <main class="add-device-page">

        <!-- Page Title -->
        <div class="page-header">
            <h1>ویرایش دستگاه {{ device.name }}  {{ device.model }}</h1>
            <a href="{{ object.get_absolute_url }}" class="btn-sub outline">برگشت به صفحه جزئیات دستگاه</a>
        </div>

        <!-- Device Form Card -->
        <section class="form-card">

            <form class="add-device-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="add-device-grid">

                    {% for field in form %}
                        {% if field.name == 'is_in_stock' %}
                            <div class="field-item checkbox-item">
                                    <label>
                                        موجود هست
                                        <input type="checkbox" name="is_in_stock">
                                    </label>
                                </div>
                        {% else %}
                            <div class="field-item">
                                <label>{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <button type="submit" class="btn-main">ثبت تغییرات</button>
            </form>


        </section>

    </main>

{% endblock content %}
